<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>

<body>
    <div id="hello-vue" class="demo">
        <button @click="one($event), two($event)">
            Submit
        </button>
        <div @click.ctrl="doSomething">Do something</div>

        <br>

        <span>여러 줄을 가지는 메시지:</span>
        <p style="white-space: pre-line">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="여러줄을 입력해보세요"></textarea>

        <br>
        <h1>#CheckBox</h1>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{checked}}</label>

        <!-- v-model의 값으로 value를 반환한다 -->
        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jacki" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>체크한 이름: {{ checkedNames }}</span>
        </div>

        <br>
        <h1>#Radio</h1>
        <input type="radio" id="one" value="OnePiece" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>선택: {{ picked }}</span>

        <br>
        <h1>#Select</h1>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>선택함: {{ selected }}</span>

        <h3>## v-for를 이용한 동적 옵션 렌더링</h3>
        <select v-model="selected2">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selected2 }}</span>


        <br>
        <!-- <input type="radio" v-model="pick" v-bind:value="a"> -->

        <br>
        <h1>Component</h1>
        <div id="example">
            <global-component :my-message="11"></global-component>
            <global-component2 my-messagee="componentmessagee"></global-component2>
            <local-component :prop-F="11">
                <local-component>
        </div>
        <h3>emit</h3>
        <div id="counter-event-example">
            <p>{{ total }}</p>
            <button-counter v-on:increment="incrementTotal"></button-counter>
            <button-counter v-on:increment="incrementTotal"></button-counter>
        </div>
        <h3>사용자 정의 이벤트를 사용하여 폼 입력 컴포넌트 만들기</h3>
        <currency-input v-model="price"></currency-input>
        <p>{{price}}</p>
    </div>
    <script>
        var Child = {
            props: {

                // 기본 타입 확인 (`null` 은 어떤 타입이든 가능하다는 뜻입니다)
                propA: Number,
                // 여러개의 가능한 타입
                propB: [String, Number],
                // 문자열이며 꼭 필요합니다
                propC: {
                    type: String,
                    required: false
                },
                // 숫자이며 기본 값을 가집니다
                propD: {
                    type: Number,
                    default: 100
                },
                // 객체/배열의 기본값은 팩토리 함수에서 반환 되어야 합니다.
                propE: {
                    type: Object,
                    default: function () {
                        return { message: 'hello' }
                    }
                },
                propF: {
                    validator: function (value) {
                        return value > 10
                    }
                },
            },
            template: '<div>This is Local Component</div><div>{{propE.message}}</div>'
        }
        Vue.createApp({
            data() {
                return {
                    price: 0,
                    total: 0,
                    pick: "",
                    message: "",
                    checked: true,
                    checkedNames: [],
                    picked: "",
                    selected: "",
                    selected2: 'A',
                    options: [
                        { text: 'One', value: 'A' },
                        { text: 'Two', value: 'B' },
                        { text: 'Three', value: 'C' }
                    ]
                }

            },
            methods: {

                one(event) {
                    console.log("one");
                },

                two(event) {
                    console.log("two");
                },
                doSomething() {
                    console.log("Hello");
                },

                incrementTotal: function () {
                    this.total += 1
                },
            },
            components: {
                // <my-component> 는 상위 템플릿에서만 사용할 수 있습니다.
                'local-component': Child
            }

        }).component('global-component', {
            // props 정의
            props: {
                myMessage: Number,
                propD: {
                    type: Number,
                    default: 100
                },

            },
            // 데이터와 마찬가지로 prop은 템플릿 내부에서 사용할 수 있으며
            // vm의 this.message로 사용할 수 있습니다.

            template: '<div>Thiss is Global Component</div> <span> {{ propD }}{{ myMessage }}</span > '
        }).component('global-component2', {
            // props 정의
            props: ['myMessagee'],
            // 데이터와 마찬가지로 prop은 템플릿 내부에서 사용할 수 있으며
            // vm의 this.message로 사용할 수 있습니다.

            template: '<div>Thiss is Global Component</div> <span> {{ myMessagee }}</span > '
        }).component('button-counter', {
            template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                incrementCounter: function () {
                    this.counter += 1
                    this.$emit('increment')
                }
            },
        }).component('currency-input', {
            template: '\
    <span>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)">\
    </span>\
  ',
            props: ['value'],
            methods: {
                // 값을 직접 업데이트하는 대신 이 메소드를 사용하여
                // 입력 값에 대한 서식을 지정하고 배치 할 수 있습니다
                updateValue: function (value) {
                    var formattedValue = value
                        // 공백을 제거합니다.
                        .trim()
                        // 소수 자릿수 2자리로 줄입니다
                        .slice(
                            0,
                            value.indexOf('.') === -1
                                ? value.length
                                : value.indexOf('.') + 3
                        )
                    // 값이 아직 정규화 되지 않은 경우
                    // 이를 수동으로 재정의하여 조건을 충족시킵니다.
                    if (formattedValue !== value) {
                        this.$refs.input.value = formattedValue
                    }
                    // 입력 이벤트를 통해 숫자 값을 내보냅니다.
                    this.$emit('input', Number(formattedValue))
                }
            }
        }).mount('#hello-vue')



    </script>
</body>

<style>
    .demo {
        font-family: sans-serif;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 20px 30px;
        margin-top: 1em;
        margin-bottom: 40px;
        user-select: none;
        overflow-x: auto;
    }
</style>

</html>